@import "normalizestyles";
@import "fonts";
@import "variables";

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.125rem;
}

section {
  position: relative;
}

.custom-description {
  max-width: 300px;
  padding-left: 30px;
  color: $white-f;
  position: relative;
  font-size: 1rem;
  line-height: 160%;
  color: #EDEDED;
  font-weight: 400;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: -2px;
    background: linear-gradient(87.58deg, #0085FF 0%, #11A9FF 100%);
  }
}

.custom-link {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-out 0s;

  &::before {
    content: '';
    display: block;
    width: 0;
    left: 0;
    height: 1px;
    background: linear-gradient(to right, #dcdcdc 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: -8px;
    transition: all 0.3s ease-out 0s;
  }

  &:hover {
    color: #dcdcdc;
    &:before {
      width: 100%;
      left: 0;
    }
  }
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;

  @include for-middle() {
    max-width: 900px;
  }
}

.un-scroll {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.x-btn {
  background: linear-gradient(87.58deg, #0085FF 0%, #11A9FF 100%);
  padding: 20px 40px;
  color: $white-f;
  display: inline-block;
}